// 文章区


.article {
    width: auto;
    padding: 30px 30px 20px;
    border: 1px solid rgba(0,0,0,.09);
    border-radius: 4px;
    font-size: 1.6rem;
    background-color: #FFF;
    box-shadow: 0 3px 6px rgba(0,0,0,.04);
    transition: margin 0.3s ease;
}

.article-asideShow {
    margin: 25px 120px 50px 260px;
}

.article-asideHidden {
    margin: 25px 190px 50px;
}


// 日记概览
.postItem {
    animation: itemShow 0.5s ease-out 1;
    transition: all 0.3s linear;
    &:hover {
        transform: translateY(-5px);
        box-shadow: 0 0 6px 3px rgba(0,0,0,.1);
        .article-delete {
            opacity: 1;
        }
    }
    .article-title {
        cursor: pointer;
        transition: all 0.3s linear;
        &:hover {
            color: #38B7EA;
            &:after {
                background-color: #38B7EA;
            }
        }
    }
}

// 标题
.article-title {
    margin: 0 auto;
    font-size: 3rem;
    text-align: center;
    &:after {
        content: "";
        display: block;
        height: 2px;
        width: 80px;
        margin: 0 auto;
        margin-top: 16px;
        background: black;
    }
}

// 删除图标
.article-delete {
    opacity: 0;
    float: right;
    width: 24px;
    height: 24px;
    margin: 5px 10px 0 0;
    border: 0;
    border-radius: 50%;
    background-color: transparent;
    outline: 0;
    cursor: pointer;
    transition: all 0.4s linear;
    &:hover {
        background-color: #E56969;
        transform: scale(1.08);
    }
}

// 日记日期
.article-date {
    clear: both;
    display: block;
    height: 32px;
    margin-top: 40px;
    color: #8C969E;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 32px;
}

// 日记文本
.article-section {
    min-height: 200px;
    padding-bottom: 20px;
    margin: 30px 0 15px;
    border-bottom: 1px solid #F5F8F9;
    color: #666A70;
    font-family: simsun, sans-serif;
    font-size: 1.6rem;
    overflow: hidden;

    a {
        text-decoration: none;
        color: #0645ad;
        &:visited {
            color: #0b0080;
        }
        &:hover {
            color: #06e;
        }
        &:active {
            color: #faa700;
        }
        &:focus {
            outline: thin dotted;
        }
        &:hover, &:active {
            outline: 0;
        }
    }

    h1, h2, h3, h4 ,h5 ,h6 {
        position: relative;
        margin-top: 1em;
        margin-bottom: 16px;
        font-weight: bold;
        line-height: 1.4;
        color: #444;
    }

    h1 {
        padding-bottom: 0.3em;
        font-size: 2.25em;
        line-height: 1.2;
        border-bottom: 1px solid #eee;
    }

    h2 {
        padding-bottom: 0.3em;
        font-size: 1.75em;
        line-height: 1.225;
        border-bottom: 1px solid #eee;
    }

    h3 {
        font-size: 1.5em;
        line-height: 1.43;
    }

    h4 {
        font-size: 1.25em;
    }

    h5 {
        font-size: 1em;
    }

    h6 {
        font-size: 1em;
        color: #777;
    }


    p, blockquote, ul, ol, dl, table, pre {
        margin-top: 0;
        margin-bottom: 16px;
    }

    blockquote {
        margin: 0;
        padding: 0 15px;
        color: #777;
        border-left: 4px #ddd solid;
    }

    blockquote>:first-child {
        margin-top: 0;
    }

    blockquote>:last-child {
        margin-bottom: 0;
    }

    hr {
        display: block;
        height: 4px;
        padding: 0;
        margin: 16px 0;
        background-color: #e7e7e7;
        border: 0 none;

    }

    pre, code{
        color: #000;
        font-family:Consolas, "Liberation Mono", Menlo, Courier, monospace;
        font-size: 0.94em;
        border-radius:3px;
        background-color: #F8F8F8;
        border: 1px solid #CCC;
    }

    pre {
        white-space: pre;
        white-space: pre-wrap;
        word-wrap: break-word;
        padding: 5px;

        code {
            border: 0px !important;
            background: transparent !important;
            line-height: 1.3em;
        }
    }

    code {
        padding: 0 3px 0 3px;
    }

    sub, sup {
        font-size: 75%;
        line-height: 0;
        position: relative;
        vertical-align: baseline;
    }

    sup {
        top: -0.5em;
    }

    sub {
        bottom: -0.25em;
    }

    ul, ol {
        margin: 1em 0;
        padding-left: 2em
    }

    ul.no-list, ol.no-list {
        padding: 0;
        list-style-type: none
    }

    ul ul, ul ol, ol ol, ol ul {
        margin-top: 0;
        margin-bottom: 0
    }

    li>p {
        margin-top: 16px
    }

    dl {
        padding: 0
    }

    dl dt {
        padding: 0;
        margin-top: 16px;
        font-size: 1em;
        font-style: italic;
        font-weight: bold
    }

    dl dd {
        padding: 0 16px;
        margin-bottom: 16px
    }

    table {
        display: block;
        width: 100%;
        overflow: auto;
        word-break: normal;
        word-break: keep-all
    }

    table th {
        font-weight: bold
    }

    table th,table td {
        padding: 6px 13px;
        border: 1px solid #ddd
    }

    table tr {
        background-color: #fff;
        border-top: 1px solid #ccc
    }

    table tr:nth-child(2n) {
        background-color: #f8f8f8
    }

    td, th {
        vertical-align: top; padding: 4px 10px; border: 1px solid #bbb;
    }

    img {
        max-width: 100%;
        -moz-box-sizing: border-box;
        box-sizing: border-box
    }
}

// 日记功能区
.article-bar {
    &:after{
        content: " ";
        display: block;
        height: 0;
        font-size: 0;
        visibility: hidden;
        clear: both;
    }
    // 日记标签
    a {
        float: left;
        height: 30px;
        padding: 0 12px;
        margin: 3px 16px 2px 0;
        border: 0;
        border-radius: 12px;
        color: #999;
        font-size: 1.5rem;
        line-height: 30px;
        text-decoration: none;
        background-color: #F5F8F9;
        cursor: pointer;
        transition: all 0.3s linear;
        &:hover {
            color: #FFF;
            background-color: #70CCF0;
        }
    }

    // 日记按钮
    button {
        float: right;
        width: 100px;
        height: 35px;
        margin: 0 10px;
        border: 1px #36AFE0 solid;
        border-radius: 5px;
        color: #36AFE0;
        font-size: 1.5rem;
        font-weight: bold;
        background-color: #FFF;
        outline: 0;
        cursor: pointer;
        transition: all 0.3s linear;
        &:hover {
            color: #FFF;
            background-color: #36AFE0;
            transform: scale(1.08);
        }
    }
}

.article-tags {
    float: left;
    &:after{
        content: " ";
        display: block;
        height: 0;
        font-size: 0;
        visibility: hidden;
        clear: both;
    }
}

.article-button {
    float: right;
    &:after{
        content: " ";
        display: block;
        height: 0;
        font-size: 0;
        visibility: hidden;
        clear: both;
    }
}

@keyframes itemShow {
    0% {
        transform: rotate(2deg);
    }

    25% {
        transform: rotate(-2deg);
    }

    50% {
        transform: rotate(2deg);
    }

    75% {
        transform: rotate(-2deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

