.category-list {
    float: left;
    width: 175px;
    height: 100%;
    background-color: #FAFAFA;
    overflow: auto;

    a {
        display: block;
        height: 56px;
        border-bottom: 1px #EDEDED solid;
        color: rgba(0,0,0,.8);
        cursor: pointer;
        transition: all 0.3s linear;
        &:hover {
            color: #FFF;
            background-color: #CCC;
        }
    }

    .active {
        cursor: default;
        background-color: #DDD;
    }
}

.category-name {
    float: left;
    width: 80%;
    height: 55px;
    padding-left: 10px;
    padding-right: 5px;
    margin: 0;
    font-size: 1.7rem;
    line-height: 55px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.category-count {
    display: block;
    float: right;
    width: 20%;
    height: 55px;
    padding-right: 8px;
    margin: 0;
    font-size: 1.6rem;
    line-height: 55px;
}
