// 侧边栏样式


.category-list {
    position: fixed;
    top: 200px;
    left: 25px;
    width: 175px;
    max-height: 600px;
    border-radius: 3px;
    background-color: #FFF;
    box-shadow: 0 3px 6px rgba(0, 0, 0,.04);
    overflow: auto;
    transition: transform 0.4s ease;
    // 分类列表
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    li {
        display: block;
        border-bottom: 1px #F5F8F9 solid;
        &:last-child {
            border-bottom: 0;
        }
    }
    // 分类链接
    a {
        display: block;
        height: 56px;
        color: #38B7EA;
        cursor: pointer;
        transition: all 0.3s linear;
        &:hover {
            color: #999;
        }

    }

    // 当前分类样式
    .active {
        cursor: default;
        color: #FFF;
        background-color: #38B7EA;
        &:hover {
            color: #FFF;
        }
    }
}

// 隐藏
.category-hidden {
    transform: translateX(-222px);
    transition: transform 0.4s ease;
}

// 分类名
.category-name {
    float: left;
    width: 80%;
    height: 55px;
    padding-left: 10px;
    padding-right: 5px;
    margin: 0;
    font-size: 1.7rem;
    line-height: 55px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

// 分类文章数
.category-count {
    display: block;
    float: right;
    width: 20%;
    height: 55px;
    padding-right: 8px;
    margin: 0;
    font-size: 1.6rem;
    line-height: 55px;
}
