// 内容区


.diary-wrapper {
    height: 100%;
    background-color: #F5F8F9;
    overflow: auto;
}


// 年份
.year {
    height: 50px;
    padding-right: 60px;
    font-size: 2rem;
    font-weight: bold;
    text-align: right;
    line-height: 50px;
}


// 回到顶部
.backtop {
    opacity: 0;
    position: fixed;
    bottom: 20px;
    right: 60px;
    width: 60px;
    height: 60px;
    border-radius: 4px;
    background-color: #565A5f;
    cursor: default;
    transition: opacity 0.3s linear;
}
