// 内容区


.diary-warpper {
    height: 100%;
    background-color: #FAFAFA;
    overflow: auto;
}


// 年份
.year {
    height: 50px;
    padding-right: 60px;
    font-size: 2rem;
    font-weight: bold;
    text-align: right;
    line-height: 50px;
}
