.input-title {
    float: left;
    width: 160px;
    height: 30px;
    padding: 8px;
    margin: 12px 15px 0;
    border: 1px #8A8A8A solid;
    border-radius: 5px;
    font-size: 1.6em;
}

.nav select {
    float: left;
    width: 100px;
    height: 28px;
    margin: 12px 10px 0;
    border: 0;
    font-size: 1.6em;
    background-color: #F5F5F5;
}

.del {
    float: right;
    background: url(./img/del.png) no-repeat center;
}

.download {
    float: right;
    background: url(./img/download.png) no-repeat center;
}

.undo {
    float: right;
    background: url(./img/undo.png) no-repeat center;
}

.redo {
    float: right;
    background: url(./img/redo.png) no-repeat center;
}

.show-double {
    float: right;
    background: url(./img/double.png) no-repeat center;
}

.show-editor {
    float: right;
    background: url(./img/editor.png) no-repeat center;
}

.show-preview {
    float: right;
    background: url(./img/preview.png) no-repeat center;
}
