@import "editorBar";
@import "preview";

.editor {
    min-width: 985px;
    height: 100%;
    background-color: #FAFAFA;
    overflow: hidden;
}

.editor-wrapper {
    position: relative;
    border-left: 1px #EDEDED solid;
}

.CodeMirror {
    float: left;
    padding-bottom: 8px;
    border-right: 1px #EDEDED solid;
    font-size: 1.8rem;
}

