@import "editorNav";
@import "editorBar";


.editor-wrapper {
    position: relative;
}

.editor {
    float: left;
    height: 100%;
    padding: 15px;
    padding-left: 25px;
    border: 0;
    border-right: 1px #EDEDED solid;
    font-size: 1.6em;
    line-height: 1.5em;
    background-color: #f5f5f5;
    resize: none;
}


.preview {
    float: right;
    height: 100%;
    padding: 5px 15px;
    font-size: 1.6em;
    overflow: auto;
}
