@import "editorBar";
@import "preview";


.editor-wrapper {
    position: relative;
    border-left: 1px #EDEDED solid;
}

.CodeMirror {
    float: left;
    border-right: 1px #EDEDED solid;
    font-size: 1.8rem;
}

