// 全局样式


* {
    box-sizing: border-box;
}

html, body {
    height:100%;
    overflow: hidden;
    background-color: #F5F8F9;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.5rem;
    font-family: 'Microsoft Yahei', Helvetica, Arial, sans-serif;
}

input, button, select, textarea {
    outline: none;
}
