// 页面头部


.header {
    width: 100%;
    height: 60px;
    padding-left: 10px;
    border-bottom: 1px #B9B9B9 solid;
    background-color: #FFF;
    // 项目标题
    h1 {
        float: left;
        height: 60px;
        margin: 0;
        font-size: 3rem;
        font-family: cursive;
        letter-spacing: 4px;
        word-spacing: 10px;
        line-height: 60px;
    }
    // 搜索框外围
    div {
        float: right;
        width: 240px;
        height: 34px;
        margin: 15px 30px 0 0;
        border: 1px #8A8A8A solid;
        border-radius: 15px;
        background-color: #FFF;
    }
    // 搜索框输入
    input {
        float: right;
        width: 200px;
        height: 32px;
        font-size: 1.6rem;
        border: 0;
        border-radius: 15px;
    }
}

