// 分类/标签管理面板


.panel {
    position: absolute;
    top: 20px;
    right: -6px;
    width: 200px;
    height: 400px;
    padding: 12px 0;
    border-radius: 10px;
    text-align: center;
    background-color: #FCFCFC;
    box-shadow: 0 3px 8px rgba(0, 0, 0, .3);
    z-index: 99;
    overflow: auto;
    cursor: default;
    transition: all 0.3s linear;

    input {
        width: 160px;
        height: 24px;
        padding: 0 10px;
        border: 1px #8A8A8A solid;
        border-radius: 15px;
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1.6rem;
        &:after {
            content: "";
            display: block;
            height: 2px;
            width: 45px;
            margin: 0 auto;
            margin-top: 6px;
            background: black;
        }
    }

    ul {
        padding: 0;
        font-size: 1.5rem;
        font-weight: 500;
        text-align: left;
        list-style-type: none;
    }

    li {
        padding: 6px;
        border-bottom: 1px #8A8A8A solid;
        &:hover {
            background-color: #D8D8D8;
        }

        span {
            display: inline-block;
            padding: 0;
            margin: 0;
        }
    }

}
