.form-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.2);

    form {
        position: absolute;
        left: 50%;
        top: 50%;
        width: 800px;
        height: 360px;
        margin-left: -400px;
        margin-top: -180px;
        padding: 30px;
        border-radius: 15px;
        background-color: #fff;

        select {
            padding: 3px;
            border: 0;
            border-radius: 8px;
        }

        [type="text"] {
            height: 25px;
            margin-left: 100px;
            padding: 3px;
            border: 1px solid gray;
            border-radius: 2px;
        }

        textarea {
            width: 100%;
            height: 210px;
            margin: 20px auto;
            border: 1px solid gray;
            border-radius: 5px;
        }

        [type="button"] {
            float: right;
            width: 100px;
            height: 30px;
            margin-right: 50px;
            padding: 3px;
            border: 0;
            border-radius: 8px;
            &:hover {
                background-color: #B7B7B7;
            }
        }

        [type="submit"] {
            float: right;
            width: 100px;
            height: 30px;
            padding: 3px;
            border: 0;
            border-radius: 8px;
            &:hover {
                background-color: #B7B7B7;
            }
        }
    }
}